.personal,
.recovery,
.activate,
.welcome,
.login-th,
.recovery-info,
.recovery-new,
.recovery-success,
.registration {
  display: none; }

.auth-form * {
  box-sizing: border-box; }

.auth-wrapper {
  min-width: 320px;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background: url(../../../images/login_bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: #000; }

.auth-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 101; }

.auth-form {
  max-width: 550px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.auth-form__head {
  position: relative;
  border-radius: 3px 3px 0 0;
  padding-top: 20px;
  height: 120px;
  background: #fff url(../../../images/auth-form-head_bg.png) no-repeat center center; }

.auth-form__close {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  background: url(../../../i/auth_close.png) no-repeat center center;
  border: none;
  outline: none;
  cursor: pointer; }

.auth-form__logo {
  display: block;
  text-decoration: none;
  margin: auto;
  height: 86px;
  width: 215px;
  background: url(../../../images/logo.png) no-repeat center center;
  background-size: 215px; }

.auth-form__body {
  background: #fff;
  padding: 0 30px 30px;
  border-radius: 0 0 3px 3px; }

.auth-form__top {
  margin: 0 -30px 32px;
  padding: 20px 30px;
  line-height: 30px;
  border-bottom: 1px solid #eee; }

.auth-form__title {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px; }

.auth-form__link {
  display: inline-block;
  color: #348fab;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 15px;
  border-bottom: 1px solid #348fab; }

.auth-form__link_right {
  margin-top: 1px;
  float: right; }

.auth-form__top .auth-form__link_right {
  margin-top: 9px; }

.auth-form__item {
  position: relative;
  margin-bottom: 30px; }
  .auth-form__item:last-child {
    margin-bottom: 0; }

.auth-form__item_end {
  margin-bottom: 50px; }

.auth-form__item_submit {
  margin-bottom: 20px; }

.auth-form__field {
  position: relative; }

.auth-form__eye {
  position: absolute;
  top: 23px;
  right: 0px;
  cursor: pointer;
  display: block;
  width: 35px;
  height: 45px;
  z-index: 1; }
  .auth-form__eye:before {
    content: '';
    background-image: url(../../../i/eye.png);
    background-repeat: no-repeat;
    background-position: -5px -5px;
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -5px;
    display: block;
    width: 19px;
    height: 11px; }
  .auth-form__eye.active:before {
    background-position: -34px -5px; }

.auth-form__trigger {
  position: absolute;
  top: 26px;
  right: 0px;
  cursor: pointer;
  display: block;
  width: 35px;
  height: 52px;
  z-index: 1; }
  .auth-form__trigger:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    border: 4px solid transparent;
    border-top: 6px solid #aaa;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    -webkit-transform-origin: 50% 2px;
    -ms-transform-origin: 50% 2px;
    transform-origin: 50% 2px; }
  .auth-form__trigger.active:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.auth-form__label {
  display: block;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  color: #666666;
  font-size: 16px; }

.auth-form__input {
  margin-top: 8px;
  display: block;
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background: transparent;
  padding: 0 13px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #333;
  border-bottom: 1px solid #eee;
  transition: border-color .3s ease; }
  .auth-form__input.error {
    border-color: #e33232; }
  .auth-form__input:focus {
    border-color: #348fab; }
  .auth-form__input.error + .auth-form__message {
    display: block; }

/* placeholder == transition */
.auth-form__input::-webkit-input-placeholder {
  transition: color .3s ease; }

.auth-form__input::-moz-placeholder {
  transition: color .3s ease; }

.auth-form__input:-moz-placeholder {
  transition: color .3s ease; }

.auth-form__input:-ms-input-placeholder {
  transition: color .3s ease; }

/* placeholder == error */
.auth-form__input.error::-webkit-input-placeholder {
  color: #e33232; }

.auth-form__input.error::-moz-placeholder {
  color: #e33232; }

.auth-form__input.error:-moz-placeholder {
  color: #e33232; }

.auth-form__input.error:-ms-input-placeholder {
  color: #e33232; }

/* placeholder == focus */
.auth-form__input:focus::-webkit-input-placeholder {
  color: #348fab; }

.auth-form__input:focus::-moz-placeholder {
  color: #348fab; }

.auth-form__input:focus:-moz-placeholder {
  color: #348fab; }

.auth-form__input:focus:-ms-input-placeholder {
  color: #348fab; }

.auth-form__message {
  display: none;
  color: #e33232;
  font-size: 15px;
  padding: 8px 13px 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300; }

.auth-form__text {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #666666; }

.auth-form__checked {
  display: inline-block;
  position: relative;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  height: 17px;
  padding-left: 25px;
  color: #666666; }
  .auth-form__checked > input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0px; }

.auth-form__submit {
  display: block;
  width: 100%;
  line-height: 38px;
  height: 40px;
  border: none;
  outline: none;
  background: #348FAB;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500; }
  .auth-form__submit.mute {
    cursor: default;
    background: #BABABA; }

.auth-form__submit_transparent {
  background: #fff;
  color: #348FAB;
  border-color: #348FAB; }

.auth-form__submit_tophotels {
  border-color: #26B36B;
  color: #26B36B;
  font-weight: 700;
  background: transparent; }

.auth-form__submit_green {
  background: #26B36B; }

.auth-form__th {
  display: inline-block;
  width: 51px;
  height: 19px;
  background: url(../../../i/th-logo.png) no-repeat center center; }

.auth-form__subtext {
  position: relative;
  top: -10px;
  text-align: center;
  font-size: 15px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  color: #666666; }

.auth-form-popup {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 99;
  margin-top: -1px;
  background: #fff;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); }

.auth-form-popup__item {
  position: relative;
  cursor: pointer;
  line-height: 40px;
  color: #348FAB;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px;
  font-size: 14px; }
  .auth-form-popup__item:hover {
    background: #348FAB;
    color: #fff; }

.auth-form-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
  background: url(../../../i/auth_close.png) no-repeat center center;
  cursor: pointer; }

.auth-form .user {
  margin-left: 20px;
  margin-bottom: 30px; }

/*.auth-form-user {
	padding-left: 20px;
	margin-bottom: 30px;
}
.auth-form-user__avatar {
	float: left;
	width: 60px;
	height: 60px;
	overflow: hidden;

	& > img {
		width: 100%;
		height: auto;
	}
}
.auth-form-user__info {
	margin-left: 70px;
}
.auth-form-user__name {
	font-size: 18px;
	color: #000;
	text-decoration: underline;
}
.auth-form-user__status {
	font-size: 14px;
	color: #666;
	margin-top: 5px;
}*/
.auth-form-nicknames {
  margin-top: 15px; }
  .auth-form-nicknames > li:first-child {
    margin-bottom: 10px; }
  .auth-form-nicknames > li {
    margin-bottom: 4px;
    font-size: 16px;
    color: #666; }
  .auth-form-nicknames a {
    font-weight: normal;
    color: #348fab;
    font-size: 14px;
    line-height: 16px; }

/*@media screen and (max-width: 800px) {
	.auth-form {
		max-width: 450px;
	}
	.auth-form__head {
		padding-top: 20px;
		height: 120px;
	}
	.auth-form__logo {
		width: 215px;
		background-size: 215px;
	}
	.auth-form__body {
		padding: 0 30px 30px;
	}
	.auth-form__top {
		margin-left: -30px;
		margin-right: -30px;
		padding: 20px 30px;
	}
	.auth-form__title {
		font-size: 18px;
	}
	.auth-form__label {
		font-size: 16px;
	}
	.auth-form__input {
		font-size: 15px;
		height: 45px;
	}
	.auth-form__item {
		margin-bottom: 30px;
	}
	.auth-form__item_end {
		margin-bottom: 50px;
	}
	.auth-form__checked {
		font-size: 14px;
		padding-left: 20px;

		& > input[type="checkbox"] {
			top: 2px;
		}
	}
	.auth-form__submit {
		font-size: 14px;
		font-weight: 500;
		height: 40px;
		line-height: 38px;
	}
	.auth-form__text {
		font-size: 16px;
		line-height: 22px;
	}
	.auth-form__link {
		font-size: 14px;
		line-height: 15px;
	}
	.auth-form__link_right {margin-top: 0;}
	.auth-form__top .auth-form__link_right {
		margin-top: 8px;
	}
	
	.auth-form__eye,
	.auth-form__trigger {
		top: 23px;
		height: 45px;
	}
	.auth-form-popup__item {
		font-size: 14px;
	}
}*/
@media screen and (max-width: 560px) {
  .auth-wrapper {
    padding-top: 0;
    background: #fff; }
  .auth-form {
    box-shadow: none; }
  .auth-form__head,
  .auth-form__body {
    border-radius: 0; } }

@media screen and (max-width: 400px) {
  .auth-form__title {
    display: block; }
  .auth-form__top .auth-form__link_right {
    float: none; } }
