	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		padding: 50px;
		font-family: Verdana;
		background: #E6F1F5;
		color: #348fab;
	}
	a {
		display: inline-block;
		color: #348fab;
		text-decoration: none;
		padding: 7px 0;
		line-height: 1.3;
	}
	h3 {
		margin-bottom: 10px;
	}
	.col {
		width: 250px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 40px;
		margin-right: 20px;
	}