.evaluation {
  padding: 20px;
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  margin-bottom: 12px; }
  .evaluation__items {
    margin: 0 -13px; }
    .evaluation__items:first-child {
      margin-top: -12px; }
  .evaluation__item {
    width: 50%;
    min-width: 260px;
    float: left;
    padding: 9px 13px; }
  .evaluation__label {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 9px; }
  .evaluation__bar {
    position: relative;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    overflow: hidden;
    background: #EDEDED; }
    .evaluation__bar-text {
      position: absolute;
      top: 0;
      left: 10px;
      white-space: nowrap;
      line-height: 30px;
      z-index: 1;
      font-size: 15px;
      font-weight: 300; }
    .evaluation__bar-line {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      overflow: hidden;
      background: tomato;
      transition: width .3s;
      z-index: 2; }
      .evaluation__bar-line .evaluation__bar-text {
        color: #fff; }
    .evaluation__bar.high .evaluation__bar-line {
      background: #3AAA35; }
    .evaluation__bar.mid .evaluation__bar-line {
      background: #D1CC26; }
    .evaluation__bar.low .evaluation__bar-line {
      background: #EA4E1B; }
  .evaluation__desc {
    margin-bottom: 6px;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 300; }
    .evaluation__desc span {
      color: #878787; }

@media (max-width: 850px) and (min-width: 768px) {
  .evaluation__item {
    width: 100%; } }

@media (max-width: 600px) {
  .evaluation__item {
    width: 100%; }
  .evaluation__desc {
    line-height: 2; } }
