@charset "UTF-8";
.searchbar {
  background: #F2F2F2;
  height: 50px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .searchbar__field {
    position: relative;
    height: 100%;
    padding: 0 120px 0 20px; }
  .searchbar__input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    font-weight: 300; }
  .searchbar__submit {
    position: absolute;
    top: 10px;
    right: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../../i/mega-sprite.png);
    width: 30px;
    height: 30px;
    background-position: -499px -499px; }
  .searchbar__list-trigger {
    position: absolute;
    top: 16px;
    right: 89px;
    width: 25px;
    height: 18px;
    display: block;
    background-position: -36px -5px;
    background-image: url(../../i/header_sprite.png);
    cursor: pointer; }

.suggest {
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  z-index: 101;
  background: #fff;
  min-height: 400px;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  padding-top: 110px;
  padding-bottom: 50px;
  display: none; }
  .suggest__wrapper {
    height: 100%;
    overflow-y: auto; }
  .suggest__content {
    margin-left: 245px;
    margin-right: 309px;
    max-width: 686px; }
  .suggest__item {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee; }
    .suggest__item:last-child {
      padding-bottom: 0;
      border: 0; }
  .suggest__title {
    display: inline-block;
    font-weight: 300;
    font-size: 19px;
    line-height: 25px;
    padding: 0 20px;
    margin-bottom: 9px; }
  .suggest__count {
    color: #878787; }
  .suggest__list {
    margin-top: 9px;
    display: table;
    width: 100%; }
    .suggest__list_has-photo {
      margin-top: 16px; }
    .suggest__list-item {
      display: table-row;
      text-decoration: none;
      color: #000;
      -webkit-transition: background .1s;
      transition: background .1s; }
      .suggest__list-item:hover {
        background: #E6F0F5; }
    .suggest__list-col {
      display: table-cell;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 20px;
      vertical-align: middle; }
      .suggest__list-col_photo {
        padding-right: 30px;
        width: 150px; }
      .suggest__list-col:first-child {
        padding-left: 20px; }
    .suggest__list-name {
      font-size: 15px;
      line-height: 20px;
      font-weight: 300; }
    .suggest__list-place {
      font-size: 13px;
      line-height: 18px;
      font-weight: 300;
      color: #878787; }
    .suggest__list-photo {
      width: 100px;
      height: 80px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      overflow: hidden;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
  .suggest__tags {
    padding: 0 20px;
    display: table; }
    .suggest__tags-col {
      display: table-cell;
      padding-right: 36px; }
    .suggest__tags-item {
      display: block;
      vertical-align: top;
      white-space: nowrap;
      font-size: 15px;
      font-weight: 300;
      line-height: 40px; }
  .suggest__found {
    color: #E02B4E; }
  @media (max-width: 1100px) {
    .suggest {
      top: 113px;
      padding-top: 20px;
      padding-bottom: 20px; }
      .suggest__title {
        padding: 0 10px; }
      .suggest__content {
        max-width: 100%;
        margin: 0 10px; }
      .suggest__list-col {
        padding-right: 10px; }
        .suggest__list-col_photo {
          width: 130px;
          padding-right: 20px; }
        .suggest__list-col:first-child {
          padding-left: 10px; }
      .suggest__tags {
        display: block;
        padding: 0 10px; }
        .suggest__tags-col {
          display: inline;
          padding-right: 0; } }

/*
========================
  Когда открыт саджест
========================
*/
.suggest-show .header-mid__logo,
.suggest-show .searchbar,
.suggest-show .user {
  position: relative;
  z-index: 102; }

/*
===========
  Адаптив
===========
*/
@media (max-width: 1023px) {
  .searchbar {
    -webkit-border-radius: 0;
    border-radius: 0; }
  .searchbar__list-trigger {
    display: none; }
  .searchbar__submit {
    right: 20px; } }
