$aperRegular: 'apercu_pro', Arial, sans-serif;
$aperBold: 'apercu_pro_bold', Arial, sans-serif;
$aperLight: 'apercu_pro_light', Arial, sans-serif;
$aperDemibold: 'apercu_pro_demibold', Arial, sans-serif;
$roboto: 'Roboto', Arial, sans-serif;
$arial: Arial, sans-serif;

$color-blue: #398DB1;
$color-red: #e33232;
$color-green: #008D36;
$color-cyan: #35C6C9;

$mobile: "max-width: 800px";
$tablet: "max-width: 1100px";
