.vacancy-list__item {
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 1px solid #4E4D52; }
  .vacancy-list__item:first-child {
    padding-top: 0; }

.vacancy-list__info {
  position: relative;
  margin-left: 195px;
  padding-bottom: 68px; }

.vacancy-list__title {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px; }
  .vacancy-list__title a {
    color: #d4005f;
    text-decoration: none; }

.vacancy-list__text {
  font-size: 16px;
  color: #cacaca;
  line-height: 26px; }

.vacancy-list__group {
  position: absolute;
  bottom: 0;
  left: 0; }

.vacancy-list__btn {
  height: 38px;
  line-height: 38px;
  background: #B70046;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-block;
  width: 250px; }
  .vacancy-list__btn.active + .vacancy-list__btn-popup {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: opacity 0.35s 0s,  visibility 0s 0s,  -webkit-transform 0.3s 0s;
    transition: opacity 0.35s 0s,  visibility 0s 0s,  transform 0.3s 0s;
    transition: opacity 0.35s 0s,  visibility 0s 0s,  transform 0.3s 0s,  -webkit-transform 0.3s 0s; }

.vacancy-list__btn-popup {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
  background: #16131D;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.35s 0s,  visibility 0s 0.3s,  -webkit-transform 0.3s 0s;
  transition: opacity 0.35s 0s,  visibility 0s 0.3s,  transform 0.3s 0s;
  transition: opacity 0.35s 0s,  visibility 0s 0.3s,  transform 0.3s 0s,  -webkit-transform 0.3s 0s;
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px); }
  .vacancy-list__btn-popup-item {
    position: relative;
    color: #d4005f;
    padding-left: 25px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px; }
    .vacancy-list__btn-popup-item:last-child {
      margin-bottom: 0; }
    .vacancy-list__btn-popup-item i {
      position: absolute;
      top: 0;
      left: 0; }
    .vacancy-list__btn-popup-item a {
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid #d4005f;
      line-height: 1;
      color: inherit; }
