      @font-face {
         font-family:LifehackSans;
         src:url(../fonts/LifehackSans.eot);
      }
@font-face {
  font-family: Calibri;
  src: url(../fonts/calibri.ttf) format("truetype");
}
@font-face {
  font-family: LifehackLogo;
  src: url(../fonts/LifehackLogo.otf) format("opentype");
}


@font-face {
	font-family: 'LifehackSans';
  	src: url('../fonts/LifehackSans.otf') format('opentype'), 
	     url('../fonts/lifehack_sans.woff') format('woff');

	}