@import '../variables';


.book {
	position: relative;
	padding-left: 310px;
	padding-top: 50px;
	padding-bottom: 50px;
	&__photo {
		width: 310px;
		overflow: hidden;
		position: absolute;
		top: 50px;
		left: 0;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	&__info {
		padding-left: 40px;
		color: #fff;
	}
	&__head {
		margin-bottom: 40px;
	}
	&__name {
		color: #fff;
		font-size: 32px;
		margin-bottom: 5px;
	}
	&__author {
		color: #5d5d5d;
		font-size: 18px;
		margin-bottom: 20px;
		a {
			display: inline-block;
		    text-decoration: none;
		    border-bottom: 1px solid #fff;
		    line-height: 1;
		    color: #fff;
		}
	}
	&__text {
		color: #cacaca;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 10px;
		p {
			margin: 0;
		}
		span {
			display: inline-block;
			margin-right: 10px;
		}
		.social {
			vertical-align: top;
			display: inline-block;
			margin-bottom: -5px;
		}
	}
	&__link {
		color: $color-pink;
		display: inline-block;
	    text-decoration: none;
	    border-bottom: 1px solid $color-pink;
	    line-height: 1;
	    color: $color-pink;
	    font-size: 18px;
	}
	.review-book-list__group {
		display: inline-block;
		position: relative;
		margin-top: 40px;
	}
	.review-book-list__btn-popup {
		width: 250px;
		text-align: center;

		&-item {
			padding-left: 0;
			font-size: 20px;
		}
	}
	@media(max-width: 800px) {
		padding: 20px 0;
		&__photo {
			position: static;
			width: auto;
			height: 200px;
			margin-bottom: 20px;
			img {
				height: 100%;
				width: auto;
			}
		}
		&__info {
			width: auto;
			padding: 0;
		}
		.review-book-list__group {display: block;}
		.review-book-list__btn-popup {
			width: auto;
			text-align: left;
			&-item {
				display: inline-block;
				margin-right: 20px;
				&:last-child {margin-right: 0;}
			}
		}
	}
}