@import '../variables';

.contacts {
	&__adress {
		position: relative;
		padding-right: 270px;
		margin-bottom: 50px;
		&-btn {
			position: absolute;
			top: 0;
			right: 0;
			width: 250px;
			height: 38px;
		    line-height: 38px;
		    background: $bg-pink;
		    border-radius: 10px;
		    color: #fff;
		    font-size: 16px;
		    text-align: center;
		    text-decoration: none;
		    cursor: pointer;
		    border: none;
		    outline: none;
		    display: inline-block;
			&.active {
		    	background: $bg-pink * 0.8;
			}
		}
	}
	&__map {
		height: 300px;
		margin-top: 20px;
		display: none;
	}
	&__section {
		margin-bottom: 40px;
		& + .contacts__section {
			margin-top: 100px;
		}
	}
	&__title {
		font-size: 24px;
		color: #fff;
		margin-bottom: 10px;
	}
	&__text {
		font-size: 18px;
		line-height: 24px;
		color: #fff;
		p {
			margin: 0;
		}
		a {
			display: inline-block;
			border-bottom: 1px solid $color-pink;
			line-height: 1;
			text-decoration: none;
			color: $color-pink;
		}
	}

	&-peoples {
		border-top: 1px solid #4E4D52;
		border-bottom: 1px solid #4E4D52;
		padding: 20px 0;
		.scrollarea {
			height: 190px;
		}
		&__list {
			font-size: 0;
		}
		&__item {
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			width: 45%;
			padding: 15px 20px 15px 0;
		}
		&__icon {
			float: left;
			width: 64px;
			height: 64px;
			background-color: #28232F;
			border-radius: 50%;
			line-height: 64px;
			text-align: center;
		}
		&__info {
			overflow: hidden;
			padding-left: 20px;
			color: #fff;
			padding-top: 1px;
		}
		&__name {
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 6px;
		}
		&__post {
			margin-bottom: 8px;
		}
		&__mail {
			display: inline-block;
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			text-decoration: underline;
			color: $color-pink;
			.icon {
				position: relative;
				top: -2px;
				margin-right: 5px;
			}
		}
	}
	@media(max-width: 800px) {
		&__adress {
			padding-right: 0;
			&-btn {
				position: static;
				margin-top: 20px;
			}
		}
		&-peoples {
			&__item {
				width: auto;
			}
		}
	}
}
