@import '../variables';

.review-book {
	&-list {
		&__item {
			padding-bottom: 50px;
			padding-top: 50px;
			border-bottom: 1px solid #4E4D52;
			&:first-child {padding-top: 0;}
		}
		&__book {
			width: 195px;
			float: left;
			padding-right: 45px;
			img {
				width: 100%;
				height: auto;
			}
		}
		&__info {
			position: relative;
			margin-left: 195px;
			padding-bottom: 68px;
		}
		&__title {
			font-size: 28px;
			font-weight: 500;
			color: #fff;
			margin-bottom: 20px;
			a {
				color: $color-pink;
				text-decoration: none;
			}
		}
		&__text {
			font-size: 16px;
			color: #cacaca;
			line-height: 26px;
		}
		&__group {
			position: absolute;
			bottom: 0;
			left: 0;
			&.active .review-book-list__btn-popup {
		    	opacity: 1;
		    	visibility: visible;
		    	transform: translateY(0);
			    transition: opacity 0.35s 0s, 
			    			visibility 0s 0s, 
			    			transform 0.3s 0s;
			}
		}
		&__btn {
			height: 38px;
			line-height: 38px;
			background: $bg-pink;
			border-radius: 10px;
			color: #fff;
			font-size: 16px;
			text-align: center;
			text-decoration: none;
			cursor: pointer;
			border: none;
			outline: none;
			display: inline-block;
			width: 250px;
		}
		&__btn-popup {
			position: absolute;
			top: 48px;
			left: 0;
			width: 100%;
			z-index: 100;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0 0 15px 2px rgba(0,0,0,.3);
			background: #16131D;
			visibility: hidden;
			opacity: 0;
	    	transition: opacity 0.35s 0s, 
	    				visibility 0s 0.3s, 
	    				transform 0.3s 0s;
	    	transform: translateY(8px);
	    	&_top {
	    		top: auto;
	    		bottom: 48px;
	    		transform: translateY(-8px);
	    	}
			&-item {
				position: relative;
				color: $color-pink;
				padding-left: 25px;
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 10px;
				&:last-child {margin-bottom: 0;}
				i {
					position: absolute;
					top: 0;
					left: 0;
				}
				a {
					display: inline-block;
					text-decoration: none;
					border-bottom: 1px solid $color-pink;
					line-height: 1;
					color: inherit;
				}
			}
		}
	}
	@media(max-width: 600px) {
		&-list {
			&__item {
				padding-top: 30px;
				padding-bottom: 30px;
			}
			&__book {
				width: auto;
				float: none;
				height: 150px;
				padding-right: 0;
				margin-bottom: 20px;
				img {
					height: 100%;
					width: auto;
				}
			}
			&__info {
				margin-left: 0;
				padding-bottom: 0;
			}
			&__group {
				margin-top: 20px;
				position: static;
			}
			&__btn {
				&-popup {
					margin-top: 20px;
					padding: 0;
					background: transparent;
					box-shadow: none;
					position: static;
					visibility: visible;
					opacity: 1;
					transform: none !important;
					transition: none !important;
				}
			}
		}
	}
}

.rb-popup {
	width: 600px;
	top: 20%;
	bottom: 10%;
	max-height: 500px;
	left: 50%;
	margin-left: -300px;
	text-align: center;
	&__content {
		padding: 30px 20px;
	}
	&__title {
		font-size: 30px;
		text-transform: uppercase;
		color: #fff;
		font-weight: 700;
		margin-bottom: 10px;
		span {
			color: $color-pink;
		}
	}
	&__contact {
		position: relative;
	    color: $color-pink;
	    padding-left: 20px;
	    font-size: 16px;
	    font-weight: 700;
	    margin-bottom: 10px;
	    display: inline-block;
	    margin-bottom: 40px;
	    i {
		    position: absolute;
		    top: 1px;
		    left: 0;
		    font-size: 18px;
		}
		a {
			display: inline-block;
		    text-decoration: none;
		    border-bottom: 1px solid $color-pink;
		    line-height: 1;
		    color: inherit;
		}
    }
    &__text {
    	font-size: 16px;
    	line-height: 24px;
    	color: #fff;
    	margin-bottom: 30px;
    }
    &__insert {
    	margin-bottom: 30px;
    }
}

.rb-popup-insta {
	width: 600px;
	top: 20%;
	bottom: 10%;
	max-height: 500px;
	left: 50%;
	margin-left: -300px;
	.popup__wrapper {
		left: 0;
		right: 0;
	}
	.scrollarea {
		padding-left: 0;
	}
	&__content {
		padding: 20px 20px 0;
	}
	&__head {
		padding: 0 0 20px;
	}
	&__user {
		display: inline-block;
		text-decoration: none;
		position: relative;
		height: 64px;
		padding-left: 84px;
	}
	&__user-photo {
		position: absolute;
		top: 0;
		left: 0;
		width: 64px;
		height: 64px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__username {
		display: inline-block;
		font-size: 16px;
		line-height: 24px;
		padding: 20px 0;
		text-decoration: none;
		color: $color-pink;
		font-weight: 700;
	}
	&__time {
		float: right;
		color: #eee;
		line-height: 64px;
	}
	&__container {
		position: relative;
		margin-left: -20px;
		margin-right: -20px;
	}
	&__photo {
		img {
			width: 100%;
			height: auto;
		}
	}
	&__info {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: rgba(0,0,0,.5);
		padding: 10px 20px;
	}
	&__desc {
		color: #fff;
		font-size: 16px;
		line-height: 22px;
	}
	&__actions {
		margin-top: 20px;
		&-item {
			color: $color-pink;
			display: inline-block;
			font-size: 16px;
			margin-right: 20px;
			i {
				margin-right: 5px;
				font-size: 14px;
			}
			span {
				display: inline-block;
				font-weight: 500;
			}
		}
		&-item_right {
			float: right;
			margin-right: 0;
		}
		&-link {
			color: inherit;
			font-weight: 700;
		}
	}
	@media(max-width: 600px) {
		&__photo {
			img {
				vertical-align: top;
			}
		}
		&__info {
			position: static;
			padding-bottom: 40px;
			background: transparent;
		}
	}
}